<pool type='dir'>
  <name>default</name>
  <target>
    <path>{{ kvm_images_directory }}</path>
    <permissions>
      <mode>0711</mode>
      <owner>0</owner>
      <group>0</group>
    </permissions>
  </target>
</pool>
