all:
  children:
    vms:
      hosts:
{% for host in groups['kvm'] %}
{% if hostvars[host]['ansible_facts']['vm_data'] is defined and hostvars[host]['ansible_facts']['vm_data'] != None %}
{% for item in hostvars[host]['ansible_facts']['vm_data'] %}
        {{item.name}}:
          hypervisor: {{ item.hypervisor }}
          vnc_port: {{ item.vncport }}
          mac_address: {{ item.mac }}
          vnic: {{ item.vnic }}
          disk_image: {{ item.diskimage }}
          vnc_url: vnc://{{ item.hypervisor }}:{{ item.vncport }}
{% endfor %}
{% endif %}
{% endfor %}
